@import '../appColors';

.experience {
    
    &-container {
        color: $subTextGrey;
        margin: 1.5rem 1.5rem -7rem 1.5rem;
        position: relative;
        top: -14rem;

        &-header {
            margin: 0 0 3.5rem 0;
        }

        &-row{
            display: flex;
            
            &-col {
                display: flex;
            }
        }
    
        .exp-section {
            background: linear-gradient($subTextGrey, $white);
            border: 1px solid $primaryTeal;
            border-radius: 40px;
            color: $primarySlate;
            display: block;
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
            margin-bottom: 5rem;
            padding: 2rem;

            &-header {
                color: $subTextGrey;
                max-width: 17rem;
                margin: 0 auto;
                position: relative;
                top: -5.5rem;
            }

            &-sub-header {
                margin-top: -2rem;
                font-style: italic;
            }

            .experience-chip {
                transition-duration: 0.5s;

                &:hover, &:active {
                    animation: shake 0.25s; 
                    animation-iteration-count: 2;
                    background-color: $strongYellow;
                    color: $primaryTeal;
                    font-size: 1rem;
                    font-weight: 700;
                }
            }
        }

        .github-btn {
            border-radius: 25px;
            background-color: $primaryTeal;
            height: auto;
            padding: .2rem;
            transition-duration: 0.5s;
            width: 40%;
            
            &:hover {
                background-color: $secondarySalmon;
                font-size: 1.1rem;
                transition-duration: 0.5s;
            }
        }
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  @media only screen and (max-width: 993px) {
    .experience {
        &-container {
            &-row{
                display: block;
                
                &-col {
                    display: block;

                    .exp-section{
                        margin-bottom: 8rem;
                        
                        &-sub-header {
                            text-align: center;
                        }
            
                        &-sub-row{
                            text-align: center;

                            .chip {
                                font-size: 1.25rem !important;
                            }
                        }
                    }
                }
            }

            .github-btn {
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .experience-container-row-col {
        .exp-section{

            &-sub-row{
                .chip {
                    width: 45%;
                }
            }
        }
    }
}