@import '../appColors';

nav {
    background-color: $primarySalmon !important;

    .brand-logo {
        font-size: 2.75rem;
    }

    ul {

        a {
            font-size: 1.5rem;

            &:hover {
                color: $primaryYellow;
            }
        }
    }
}

@media only screen and (max-width: 993px) {
    nav {
        ul {
            a:hover {
                color: $primarySalmon;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    nav {
        .brand-logo {
            font-size: 2rem;
        }
    }
}