@import '../appColors';

.project-card-container {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    text-align: center;
    width: 25rem;

    .header-img {
        height: 10rem;
        margin-top: 2rem;
        object-fit: cover;
        width: 10rem;
    }

    .add-radius {
        border-radius: 50%;
    }

    .link-row {
        button {
            background-color: $primaryTeal;

            &:hover, &:active, &:focus {
                background-color: $secondarySalmon;
                font-weight: 300;
            }
        }

        .repo {
            left: 5rem;
            position: relative;
            top: 0.5rem;

            img {
                height: 1.75rem;
                width: 1.75rem;
            }
        }
    }
}