.about-me-container .filler-block {
  background-color: #64908A;
  border-top: 3px solid #faf7f7;
  height: 17rem;
  margin: -1.4rem -0.75rem 0 -1.4rem; }

.about-me-container .img-container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #db697a;
  border-radius: 50%;
  height: 14rem;
  margin: -8rem auto;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  width: 14rem;
  z-index: 1; }

.about-me-container .text-container {
  color: #faf7f7;
  font-size: 1.15rem;
  margin: 9rem auto;
  max-width: 80%;
  text-align: left; }
  .about-me-container .text-container .header-text {
    color: #FFFFCC;
    padding-top: 1rem;
    text-align: center; }
  .about-me-container .text-container .body-text {
    overflow: hidden;
    padding: .1rem 2rem;
    height: auto; }
    .about-me-container .text-container .body-text .expand-btn {
      background-color: rgba(56, 56, 56, 0.6);
      border: 1px solid #faf7f7;
      border-radius: 25px;
      box-shadow: none;
      color: #faf7f7;
      font-size: 1rem;
      margin: 2rem;
      transition-duration: .5s; }
      .about-me-container .text-container .body-text .expand-btn:hover {
        color: #ffff80;
        transition-duration: .5s;
        font-size: 1.2rem; }

body {
  background-color: #383838;
  font-family: 'Raleway', sans-serif;
  font-weight: 200 !important;
  min-width: 360px; }

h3, h4 {
  font-weight: 200 !important; }

.obj-fade-in {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.banner-container {
  background-color: #676776; }
  .banner-container .profile {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0.2rem solid #CC2A41;
    height: 50rem;
    margin-top: -1.4rem;
    transition-duration: .5s;
    width: 100%; }
    .banner-container .profile-text {
      border: 3px solid #CC2A41;
      margin: 0 auto;
      padding: 2rem; }
      .banner-container .profile-text a {
        color: #fff;
        transition-duration: 0.4s; }
        .banner-container .profile-text a:hover {
          color: #FFFFCC;
          font-size: 3.5rem;
          transition-duration: 0.4s; }
  .banner-container .btn-row {
    height: 28rem; }
  .banner-container .about-me-btn {
    background-color: #CC2A41;
    border-radius: 25px;
    font-size: 1.75rem;
    height: auto;
    margin: 1.5rem;
    padding: 0.25rem 5rem;
    transition-duration: .5s; }
    .banner-container .about-me-btn a {
      color: #fff; }
    .banner-container .about-me-btn:hover {
      background-color: #FFFFCC;
      transition-duration: .5s; }
      .banner-container .about-me-btn:hover a {
        color: #64908A; }

@media only screen and (max-width: 993px) {
  .banner-container .profile {
    height: 30rem;
    transition-duration: .5s; } }

@media only screen and (max-width: 600px) {
  .banner-container .profile-text {
    border: 2px solid #CC2A41;
    padding: 1rem; } }

.experience-container {
  color: #faf7f7;
  margin: 1.5rem;
  position: relative;
  top: -14rem; }
  .experience-container-header {
    margin: 0 0 3.5rem 0; }
  .experience-container-row {
    display: flex; }
    .experience-container-row-col {
      display: flex; }
  .experience-container .exp-section {
    background: linear-gradient(#faf7f7, #fff);
    border: 1px solid #64908A;
    border-radius: 40px;
    color: #424254;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 5rem;
    padding: 2rem; }
    .experience-container .exp-section-header {
      color: #faf7f7;
      max-width: 17rem;
      margin: 0 auto;
      position: relative;
      top: -5.5rem; }
    .experience-container .exp-section-sub-header {
      margin-top: -2rem;
      font-style: italic; }
    .experience-container .exp-section .experience-chip {
      transition-duration: 0.5s; }
      .experience-container .exp-section .experience-chip:hover, .experience-container .exp-section .experience-chip:active {
        animation: shake 0.25s;
        animation-iteration-count: 2;
        background-color: #ffff80;
        color: #64908A;
        font-size: 1rem;
        font-weight: 700; }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

@media only screen and (max-width: 993px) {
  .experience-container-row {
    display: block; }
    .experience-container-row-col {
      display: block; }
      .experience-container-row-col .exp-section {
        margin-bottom: 8rem; }
        .experience-container-row-col .exp-section-sub-header {
          text-align: center; }
        .experience-container-row-col .exp-section-sub-row {
          text-align: center; }
          .experience-container-row-col .exp-section-sub-row .chip {
            font-size: 1.25rem !important; } }

@media only screen and (max-width: 600px) {
  .experience-container-row-col .exp-section-sub-row .chip {
    width: 45%; } }

.loading-container {
  margin-top: 20%; }
  .loading-container .loading-text {
    color: #faf7f7; }
  .loading-container .image {
    display: none; }

nav {
  background-color: #CC2A41 !important; }
  nav .brand-logo {
    font-size: 2.75rem; }
  nav ul a {
    font-size: 1.5rem; }
    nav ul a:hover {
      color: #FFFFCC; }

@media only screen and (max-width: 993px) {
  nav ul a:hover {
    color: #CC2A41; } }

@media only screen and (max-width: 600px) {
  nav .brand-logo {
    font-size: 2rem; } }

.no-match-container {
  color: #faf7f7; }
  .no-match-container img {
    height: 60vh; }

.portfolio-container .portfolio-sub-text {
  color: #faf7f7;
  font-size: 1.9rem;
  font-weight: 200; }

@media only screen and (min-width: 993px) {
  .row .col.offset-l1 {
    margin-left: 6.5%; } }
