.about-me-container .filler-block {
  background-color: #64908A;
  border-top: 3px solid #faf7f7;
  height: 17rem;
  margin: -1.4rem -22%; }

.about-me-container .img-container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #db697a;
  border-radius: 50%;
  height: 14rem;
  margin: -8rem auto;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  width: 14rem;
  z-index: 1; }

.about-me-container .text-container {
  color: #faf7f7;
  font-size: 1.15rem;
  margin: 9rem auto;
  max-width: 80%;
  text-align: left; }
  .about-me-container .text-container .header-text {
    color: #FFFFCC;
    padding-top: 1rem;
    text-align: center; }
  .about-me-container .text-container .body-text {
    overflow: hidden;
    padding: .1rem 2rem;
    height: auto; }
    .about-me-container .text-container .body-text .collapsible {
      border: none;
      box-shadow: none !important;
      -webkit-box-shadow: none; }
      .about-me-container .text-container .body-text .collapsible .active {
        padding: 0; }
        .about-me-container .text-container .body-text .collapsible .active i {
          color: #FFFFCC;
          -ms-transform: rotate(180deg);
          /* IE 9 */
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          /* Chrome, Safari, Opera */ }
      .about-me-container .text-container .body-text .collapsible-header {
        background-color: transparent;
        border: none; }
        .about-me-container .text-container .body-text .collapsible-header i {
          color: #db697a;
          font-size: 3rem;
          margin: 0 auto;
          transition-duration: .5s; }
          .about-me-container .text-container .body-text .collapsible-header i:hover {
            color: #FFFFCC;
            font-size: 3.5rem;
            transition-duration: .5s; }
      .about-me-container .text-container .body-text .collapsible-body {
        border: none;
        padding: 0; }

body {
  background-color: #383838;
  font-family: 'Raleway', sans-serif;
  min-width: 360px; }

.obj-fade-in {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.banner-container {
  background-color: #676776; }
  .banner-container .profile {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0.2rem solid #CC2A41;
    height: 50rem;
    margin-top: -1.4rem;
    transition-duration: .5s;
    width: 100%; }
    .banner-container .profile-text {
      border: 3px solid #CC2A41;
      margin: 0 auto;
      padding: 2rem; }
      .banner-container .profile-text a {
        color: #fff;
        transition-duration: 0.4s; }
        .banner-container .profile-text a:hover {
          color: #FFFFCC;
          font-size: 3.5rem;
          transition-duration: 0.4s; }
  .banner-container .btn-row {
    height: 24rem; }
  .banner-container .about-me-btn {
    background-color: #CC2A41;
    border-radius: 25px;
    font-size: 2rem;
    height: auto;
    margin: 1.5rem;
    padding: 0.25rem 5rem;
    transition-duration: .5s; }
    .banner-container .about-me-btn a {
      color: #fff; }
    .banner-container .about-me-btn:hover {
      background-color: #FFFFCC;
      transition-duration: .5s; }
      .banner-container .about-me-btn:hover a {
        color: #64908A; }

@media only screen and (max-width: 993px) {
  .banner-container .profile {
    height: 30rem;
    transition-duration: .5s; } }

.experience-container {
  color: #faf7f7;
  margin: 1.5rem;
  position: relative;
  top: -17rem; }
  .experience-container-row {
    display: flex; }
    .experience-container-row-col {
      display: flex; }
  .experience-container .exp-section {
    background-color: #faf7f7;
    border: 1px solid #64908A;
    border-radius: 40px;
    color: #424254;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 2rem;
    padding: 2rem; }
    .experience-container .exp-section .tech-row-even {
      background: linear-gradient(0.25turn, #64908A, #c1d2d0);
      border: 1px solid #64908A;
      border-radius: 25px;
      color: #ffffe5;
      padding: .5rem;
      margin-bottom: .5rem;
      width: 85%; }
    .experience-container .exp-section .tech-row-odd {
      background: linear-gradient(0.75turn, #FFFFCC, #ffffe5);
      border: 1px solid #ffff80;
      border-radius: 25px;
      color: #424254;
      float: right;
      padding: .5rem;
      margin-bottom: .5rem;
      text-align: right;
      width: 85%; }

@media only screen and (max-width: 600px) {
  .experience-container-row {
    display: block; }
    .experience-container-row-col {
      display: block; } }

.loading-container {
  margin-top: 25%; }
  .loading-container .loading-text {
    color: #faf7f7; }
  .loading-container .image {
    display: none; }

nav {
  background-color: #CC2A41 !important; }
  nav .brand-logo {
    font-size: 2.75rem; }
  nav ul a {
    font-size: 1.5rem; }
    nav ul a:hover {
      color: #64908A; }

.no-match-container {
  color: #faf7f7; }
  .no-match-container img {
    height: 60vh; }

.portfolio-container .portfolio-sub-text {
  color: #faf7f7;
  font-size: 1.9rem;
  font-weight: 200; }

@media only screen and (min-width: 993px) {
  .row .col.offset-l1 {
    margin-left: 6.5%; } }
