@import '../appColors';

.about-me-container {
    &-row {
        margin-bottom: 0;
    }

    .filler-block {
        display: none;
    }

    .wood-parallax {
        margin-top: -1.5rem;
    }

    .img-container {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $secondarySalmon;
        border-radius: 50%;
        height: 14rem;
        margin: -8rem auto;
        transform: rotate(3deg) !important;
        // -webkit-transform: rotate(3deg) !important;
        width: 14rem;
        z-index: 1;
    }

    .text-container {
        color: $subTextGrey;
        font-size: 1.15rem;
        margin: 9rem auto;
        max-width: 80%;
        text-align: left;
        
        .header-text {
            color: $primaryYellow;
            padding-top: 1rem;
            text-align: center;
        }

        .body-text {
            overflow: hidden;
            padding: .1rem 2rem;
            height: auto;

            .expand-btn {
                background-color: rgba($primaryGrey, 0.6);
                border: 1px solid $subTextGrey;
                border-radius: 25px;
                box-shadow: none;
                color: $subTextGrey;
                font-size: 1rem;
                margin: 2rem auto;
                transition-duration: .5s;

                &:hover {
                    color: $strongYellow;
                    transition-duration: .5s;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .about-me-container {

        .img-container {
            border: 2px solid $primaryGrey;
        }

        .filler-block {
            background-color: $primaryTeal;
            border-top: 3px solid $secondaryGrey;
            display: block;
            height: 17rem;
            margin: -1.4rem -0.75rem 0 -1.4rem;
        }
    }
}