@import '../appColors';

body {
    background-color: $primaryGrey;
    font-family: 'Roboto', sans-serif;
    font-weight: 100 !important;
    min-width: 360px;
    transition: all 0.3s;
}

h3, h4 {
    font-weight: 300 !important;
}

.obj-fade-in {
    // image fade in
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.external-btn {
    background-color: transparent;
    border: 1px solid $subTextGrey;
    border-radius: 25px;
    height: auto;
    margin-bottom: 2rem;
    padding: .2rem;
    width: 40%;
    
    &:hover {
        background-color: $secondarySalmon;
        font-size: 1.1rem;
        font-weight: 300;
    }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
