@import '../appColors';

.portfolio-container {
    .projects-header {
        color: $subTextGrey;
        font-weight: 200;
    }

    .projects-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5rem;
    }
}

@media only screen and (min-width: 993px) {
    .row .col.offset-l1 {
        margin-left: 6.5%;
    }
}