@import 'appColors';

.about-me-container {
    margin-top: 5rem;

    .img-container {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $secondarySalmon;
        border-radius: 50%;
        height: 14rem;
        margin: 0 auto;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        width: 14rem;
        z-index: 1;
    }

    .text-container {
        color: $subTextGrey;
        font-size: 1.15rem;
        margin: 0 auto;
        max-width: 80%;
        text-align: left;
        
        .header-text {
            color: $primaryYellow;
            padding-top: 1rem;
            text-align: center;
        }

        .body-text {
            overflow: hidden;
            padding: .1rem 2rem;
            height: auto;
            
            .extra-text {
                transform:scaleY(0);

                &-expanded {
                    -moz-transition: transform .5s ease-out;
                    -webkit-transition: transform .5s ease-out;
                    transition:transform 0.5s ease-out; // note that we're transitioning transform, not height!
                    height:auto;
                    transform:scaleY(1); // implicit, but good to specify explicitly
                    transform-origin:top;
                }
            }
        }

        .expand-body {
            text-align: center;
            color: $secondarySalmon;

            i {
                font-size: 3rem;
                cursor: pointer;
            }
        }
    }
}

// @media only screen and (max-width: 485px) {
//     .about-me-container{
        
//         .img-container{
//             left: auto;
//             margin: 0 auto;
//         }

//         .text-container{
//             left: auto;
//             max-width: 100%;

//             .header-text{
//                 padding-top: 5rem;
//             }
//         }
//     }
// }
