@import 'appColors';

.about-me-container {

    .filler-block {
        background-color: $primaryTeal;
        border-top: 3px solid $subTextGrey;
        height: 17rem;
        margin: -1.4rem -22%;
    }

    .img-container {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $secondarySalmon;
        border-radius: 50%;
        height: 14rem;
        margin: -8rem auto;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        width: 14rem;
        z-index: 1;
    }

    .text-container {
        color: $subTextGrey;
        font-size: 1.15rem;
        margin: 9rem auto;
        max-width: 80%;
        text-align: left;
        
        .header-text {
            color: $primaryYellow;
            padding-top: 1rem;
            text-align: center;
        }

        .body-text {
            overflow: hidden;
            padding: .1rem 2rem;
            height: auto;
            
            .collapsible {
                border: none;
                box-shadow: none !important;
                -webkit-box-shadow: none;

                & .active {
                    padding: 0;

                    i{
                        color: $primaryYellow;
                        -ms-transform: rotate(180deg); /* IE 9 */
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                    }
                }

                &-header {
                    background-color: transparent;
                    border: none;
                    
                    i {
                        color: $secondarySalmon;
                        font-size: 3rem;
                        margin: 0 auto;
                        transition-duration: .5s;
                        
                        &:hover {
                            color: $primaryYellow;
                            font-size: 3.5rem;
                            transition-duration: .5s;
                        }
                    }
                }
                
                &-body {
                    border: none;
                    padding: 0;
                }
            }
        }
    }
}