// Color Palette from:
    //  https://www.colourlovers.com/palette/379413/you_are_beautiful

$primaryGrey: #383838;
$primaryPurple: #351330;
$primarySalmon: #CC2A41;
$primarySlate: #424254;
$primaryTeal: #64908A;
$primaryYellow: #FFFFCC;


$subTextGrey: #e1e1e1;

$white: #fff;
