@import 'appColors';

.banner-container {
    background-color: $secondarySlate;

    
    .profile{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 0.2rem solid $primarySalmon;
        height: 50rem;
        margin-top: -1.4rem;
        transition-duration: .5s;
        width: 100%;
        
        &-text {
            border: 3px solid $primarySalmon;
            margin: 0 auto;
            padding: 2rem;
            
            a {
                color: $white;
                transition-duration: 0.4s;
                
                &:hover {
                    color: $primaryYellow;
                    font-size: 3.5rem;
                    transition-duration: 0.4s;
                }
            }
        }
    }
    
    .btn-row{
        height: 30rem;
    }

    .about-me-btn{
        background-color: $primarySalmon;
        border-radius: 25px;
        font-size: 1.75rem;
        height: auto;
        margin: 1.5rem;
        padding: 0.25rem 5rem;
        transition-duration: .5s;
        
        a {
            color: $white;
        }
        
        &:hover {
            background-color: $primaryYellow;
            transition-duration: .5s;
            
            a {
                color: $primaryTeal;
            }
        }
    }
}

@media only screen and (max-width: 993px) {
    .banner-container {
        .profile{
            height: 30rem;
            transition-duration: .5s;
        }
    }
}

@media only screen and (max-width: 600px) {
    .banner-container {
        .profile{
            &-text {
                border: 2px solid $primarySalmon;
                padding: 1rem;
            }
        }
    }
}