@import 'appColors';

.experience {
    
    &-container {
        color: $subTextGrey;
        margin: 1.5rem;
        position: relative;
        top: -14rem;

        &-header {
            margin: 0 0 3.5rem 0;
        }

        &-row{
            display: flex;
            
            &-col {
                display: flex;
            }
        }
    
        .exp-section {
            background-color: $subTextGrey;
            border: 1px solid $primaryTeal;
            border-radius: 40px;
            color: $primarySlate;
            display: block;
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
            margin-bottom: 2rem;
            padding: 2rem;

            &-header {
                color: $primarySalmon;
                max-width: 17rem;
                margin: 0 auto;
                position: relative;
                top: -3.4rem;
            }

            .tech-row {
                
                &-even {
                    background: linear-gradient(0.25turn, $primaryTeal, $secondaryTeal);
                    border: 1px solid $primaryTeal;
                    border-radius: 25px;
                    color: $secondaryYellow;
                    padding: .5rem;
                    margin-bottom: .5rem;
                    width: 85%;
                }
                
                &-odd {
                    background: linear-gradient(0.75turn, $primaryYellow, $secondaryYellow);
                    border: 1px solid $strongYellow;
                    border-radius: 25px;
                    color: $primarySlate;
                    float: right;
                    padding: .5rem;
                    margin-bottom: .5rem;
                    text-align: right;
                    width: 85%;
                }
            }
        }
    }

}

@media only screen and (max-width: 600px) {
    .experience {
        &-container {
            &-row{
                display: block;
                
                &-col {
                    display: block;

                    .exp-section-sub-row{
                        text-align: center;

                        .chip {
                            font-size: 1.25rem !important;
                        }
                    }
                }
            }
        }
    }
}