@import './appColors';

nav {
    background-color: $primarySalmon !important;

    .brand-logo {
        font-size: 2.75rem;
    }

    ul {

        a {
            font-size: 1.5rem;

            &:hover {
                color: $primaryTeal;
            }
        }
    }
}